{
  "openapi": "3.0.1",
  "info": {
    "title": "Wallester",
    "description": "Wallester Card API\n\n# Rate limits\n\nWallester has no rate limits and allows sending an unlimited number of requests to API, but we reserve the right to impose such limits if necessary.\n\n# RSA keys\n\nEncrypted card data exchange schema:\n![Encrypted card data exchange schema](img/encrypted-card-data-exchange-schema.png)\nPublic key needed in the request might be programmed to be generated and encrypted on each request or prepared in advance as given in the examples below and updated periodically.\nIt is recommended to use length of at least 3076 bytes when keys are being generated.\n\n## Generating RSA keys\n\nRSA key pair can be generated using following command:\n\n```shell\n\nopenssl genrsa -des3 -out private.pem 4096\nopenssl rsa -in private.pem -outform PEM -pubout -out public.pem\n\n```\n\n## Public key example\n\n### Decoded public key example:\n\n##### -----BEGIN PUBLIC KEY-----\n##### MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA2oHA/IYjo06fRA33tca7\n##### Lgss1OvB8+cv8sTPJ5m4uwm0YChCNQW8lhDe3GP+w2ZUGAK25e8Y3gllF+G9WL0n\n##### khGmYenC9+fNWCdL2npcrucNG82XgU+v8cQQNbTkzombjw4bG1fkuowLoSQir2uK\n##### PE0aDhHmbdm0DebXb8mw/4NthU6dc5PFqaGuv7F9rMdtDo08mH5pOFjhkP1QGqap\n##### S0sL1vrzaQv9QSs6VASiMeCVzovUqqDGS55NSY1bzvRP9zjzbNJeeK5ywadK0apu\n##### y8QUgl2Wa8Xq4PcyiKMYbzpqq9oqnsc8d+WwALJaxfDfa5qMKyL7HvQXuXAZejNQ\n##### L9X1DRKkBvYZEhliV/yoKwD1lwHo28sqXWW/J8ITAZwaG8K4UyERVT4mfO8RHlJU\n##### lZ762KPRy+lqRqTnZkYLgG6jzShhADnfn1GaM5/obr9ZjLw3owqOaevF0NmsJlfy\n##### I2aM8I9XANl+ZyQNJfART9OErfLqruOa2lZg1XebcupYxjEKfyZpiWQvD42I18UM\n##### 6OGx2kpvYq6jggDqiz6BNu6LB/ckv+9z/olnkjr1cmZU3EfrfLuxRYboEBIV2GWG\n##### eo0LLEiFUYP5LD60P7EnGPN4qgJ9epWWVxQKR6wAljVMUXLDzdBEu9lk45X7ILK8\n##### ejP034fViVKHij6jQZPce3cCAwEAAQ==\n##### -----END PUBLIC KEY-----\n\nTest results were received using this website: https://www.base64encode.org/ :\n\n### Base64 encoded public key string (using example above):\n\n```shell\n\nLS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQ0lqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FnOEFNSUlDQ2dLQ0FnRUEyb0hBL0lZam8wNmZSQTMzdGNhNwpMZ3NzMU92QjgrY3Y4c1RQSjVtNHV3bTBZQ2hDTlFXOGxoRGUzR1ArdzJaVUdBSzI1ZThZM2dsbEYrRzlXTDBuCmtoR21ZZW5DOStmTldDZEwybnBjcnVjTkc4MlhnVSt2OGNRUU5iVGt6b21ianc0YkcxZmt1b3dMb1NRaXIydUsKUEUwYURoSG1iZG0wRGViWGI4bXcvNE50aFU2ZGM1UEZxYUd1djdGOXJNZHREbzA4bUg1cE9GamhrUDFRR3FhcApTMHNMMXZyemFRdjlRU3M2VkFTaU1lQ1Z6b3ZVcXFER1M1NU5TWTFienZSUDl6anpiTkplZUs1eXdhZEswYXB1Cnk4UVVnbDJXYThYcTRQY3lpS01ZYnpwcXE5b3Fuc2M4ZCtXd0FMSmF4ZkRmYTVxTUt5TDdIdlFYdVhBWmVqTlEKTDlYMURSS2tCdllaRWhsaVYveW9Ld0QxbHdIbzI4c3FYV1cvSjhJVEFad2FHOEs0VXlFUlZUNG1mTzhSSGxKVQpsWjc2MktQUnkrbHFScVRuWmtZTGdHNmp6U2hoQURuZm4xR2FNNS9vYnI5WmpMdzNvd3FPYWV2RjBObXNKbGZ5CkkyYU04STlYQU5sK1p5UU5KZkFSVDlPRXJmTHFydU9hMmxaZzFYZWJjdXBZeGpFS2Z5WnBpV1F2RDQySTE4VU0KNk9HeDJrcHZZcTZqZ2dEcWl6NkJOdTZMQi9ja3YrOXovb2xua2pyMWNtWlUzRWZyZkx1eFJZYm9FQklWMkdXRwplbzBMTEVpRlVZUDVMRDYwUDdFbkdQTjRxZ0o5ZXBXV1Z4UUtSNndBbGpWTVVYTER6ZEJFdTlsazQ1WDdJTEs4CmVqUDAzNGZWaVZLSGlqNmpRWlBjZTNjQ0F3RUFBUT09Ci0tLS0tRU5EIFBVQkxJQyBLRVktLS0tLQ==\n\n```\n\n# Authorization\n\nAuthorization is implemented using [JSON Web Tokens (JWT)](https://jwt.io/). For more information, please see [our repository of integration examples](https://github.com/wallester/integration-examples).",
    "contact": {
      "url": "/v1/doc/#",
      "email": "operations@wallester.com"
    },
    "version": "v1",
    "x-logo": {
      "url": "img/wallester-logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.wallester.eu",
      "description": "Wallester Sandbox Environment"
    },
    {
      "url": "https://api.wallester.eu",
      "description": "Wallester Production Environment"
    }
  ],
  "tags": [
    {
      "name": "Webhooks",
      "description": "## Introduction\n\nThis document describes how the **Client** can integrate with the **Wallester** system to receive events in real-time and do custom business logic in **Client’s** system based on the received data.\n\n**Wallester** sends events using [Webhooks](https://hookdeck.com/webhooks/guides/what-are-webhooks-how-they-work#consuming-a-webhook) based communication, where **Client** has an HTTP server and **Wallester** acts as a client. **Wallester** does a HTTP POST request to a URL of **Client** choice in a JSON format.\n\nAlong with the event, data about the object is transferred, which is referred to as the payload. The payload can be extended with new optional fields at any time, therefore **Client** should be able to receive and process fields of any type and not add strict validation.\n\n## Communication Format\n\nTo use the **Wallester** notification system, **Client** must share the following information:\n1. Basic authentication credentials (Username & Password)\n2. HTTP server URL\n3. Type of events to be enabled\n\n## HTTP\n\nHTTP requests are protected with HTTP Basic authentication. To unauthenticated requests, the external system should return a response with a HTTP 401 Unauthorized status.\n\n![Request-response scheme](img/request-response.png)\n\nThe **Client** needs to whitelist the **Wallester** IP addresses in order to allow requests to pass through the firewall.\n\n**Production:**\n- Contact our Support team [support@wallester.com](mailto:support@wallester.com)\n\n**Sandbox:**\n- Contact our Support team [support@wallester.com](mailto:support@wallester.com)\n\n## Guaranteed delivery\n\nNotifications can be configured with guaranteed delivery feature. Notification will be sent again in case of an unexpected response status code (not HTTP code 200) or a timeout for any of the involved notification types, the Retry logic will apply.\n\nThe feature is available for the following Notification Event types:\n\n- Authorization notification\n- Create card\n- Fee\n- Authorization release\n- Transaction clearing\n- KYC Check\n- Person KYC status change (new format)\n- Apple pay orange flow notifications\n\n**Retry logic:**\n\n<table>\n<tr><th>Retry</th><th>Approximate time after the first failure</th></tr>\n<tr><td>1st retry</td><td>2 seconds</td></tr>\n<tr><td>2nd retry</td><td>5 seconds</td></tr>\n<tr><td>3rd retry</td><td>10 seconds</td></tr>\n<tr><td>4th retry</td><td>10 minutes</td></tr>\n<tr><td>5th retry</td><td>30 minutes</td></tr>\n<tr><td>6th retry</td><td>1 hour</td></tr>\n<tr><td>7th retry</td><td>3 hours</td></tr>\n<tr><td>8th retry</td><td>6 hours</td></tr>\n<tr><td>9th retry</td><td>12 hours</td></tr>\n<tr><td>10th retry</td><td>24 hours</td></tr>\n</table>\n\nDepending on the technical requirements, a specific message delivery type should be chosen:\n1. **Limited** - events will be retried 10 times only; retry logic intervals are applied;\n2. **Mandatory** - events will be retried until Wallester receives a successful response; retry logic intervals are applied; after the 10th try message will be resent every 24 hours.\n\nThe diagram below is given for the visual flow representation:\n\n![Diagram of Notification Sending Process](img/send-notifications-diagram.png)\n\n## Events\n\n### 1. Authorization\n\nGiven events allows the Client to receive information for all card related authorizations and binded notifications, initiated by Cardholder or Merchant. Intent of such notifications is purely informative.\n\n1.1. [Authorization](#operation/Authorization)\n\n1.2. [Reversal authorization](#operation/ReversalAuthorization)\n\n1.3. [Release authorization](#operation/ReleaseAuthorization)\n\n### 1.4. Decision request\n\nFollowing events might be used in case when **Client** would like to get access to authorization approval logic. There are a few specific decision requests: Balance Inquiry and Partial payment. Those require more advanced behavior than regular payment authorizations.\n\nDue to strict card schema requirements, a response must be sent back to **Wallester** within 1 second or less.\n\nIf **Client** does not reply within the expected period or there are any communication issues between **Client** and **Wallester** (unresolvable within a given time), **Wallester** will use **default behavior defined by Client** (approve or decline).\n\n1.4.1. [Decision request: Authorization](#operation/DecisionRequestAuthorization)\n\n1.4.2. [Decision request: Balance inquiry authorization](#operation/DecisionRequestBalanceInquiryAuthorization)\n\n1.4.3. [Decision request: Partial Authorization](#operation/DecisionRequestPartialAuthorization)\n\n#### Response codes\n\nThis section describes all possible response codes that can be used in response to a decision request. It is strongly recommended to use all available options and return the correct reason for each decision.\n\n<table><tr><th>Response Code</th><th>Description</th></tr><tr><td>Approved</td><td>Approve.</td></tr><tr><td>ApprovedForPartialAmount</td><td>Approve for a partial amount. See Partial authorization for more details.</td></tr><tr><td>ClientSystemMalfunction</td><td>Client system is experiencing downtime.</td></tr><tr><td>DeclinedByClient</td><td>Decline.</td></tr><tr><td>DoNotHonour</td><td>Decline due to potential fraud or other system rules.</td></tr><tr><td>NotSufficientFunds</td><td>Insufficient funds on the cardholder balance.</td></tr><tr><td>TransactionNotPermittedToCardholder</td><td>Payment not allowed for the cardholder.</td></tr></table>\n\n### 2. Transaction\n\n2.1. [Transaction clearing](#operation/TransactionClearing)\n\n### 3. Account adjustment\n\n3.1. [Incoming payment](#operation/IncomingPayment)\n\n### 4. Fee\n\nFee types and events are configured in the Wallester system, which makes it possible to configure notifications only for a specific fee or event type. Only a complete event is available at the moment.\n\nPossible event types:\n- **create** (Event notification is triggered when a new fee is created, except one that is created in Completed status and is not related to authorization.)\n- **update** (Event notification is triggered when a fee amount changes. For example, during clearing the amount is recalculated.)\n- **cancel** (Event notification is triggered when a fee is canceled. For example, the authorization has expired and related fee is canceled)\n- **complete** (Event notification is triggered when a new fee is created in Completed status or fee status has changed to Completed. For example, the CardIssuanceFee is created in Completed status or fee status has changed to Completed after clearing.)\n\n4.1. [Complete fee](#operation/CompleteFee)\n\n4.2. [Create fee](#operation/CreateFee)\n\n4.3. [Update fee](#operation/UpdateFee)\n\n4.4. [Cancel fee](#operation/CancelFee)\n\n### 5. Tokenization\n\n5.1. Apple pay incentive notifications\n\n 5.1.1. [Apple Pay incentive notification incomplete provisioning](#operation/ApplePayIncentiveNotificationIncompleteProvisioning)\n\n 5.1.2. [Apple Pay incentive notification successful transaction](#operation/ApplePayIncentiveNotificationSuccessfulTransaction)\n\n5.2. [Apple pay orange flow](#operation/ApplePayOrangeFlow)\n\n### 6. Person\n\n6.1. [KYC status change](#operation/KYCStatusChange)\n\n### 7. Card\n\nCard lifecycle representation:\n\n![Card lifecycle representation](img/card-lifecycle-representation.png)\n\n7.1. [Create card](#operation/CreateCardEvent)\n\n7.2. [Ordered card](#operation/OrderedCardEvent)\n\n7.3. [Personalize card](#operation/PersonalizeCardEvent)\n\n7.4. [Dispatch card](#operation/DispatchCardEvent)\n\n7.5. [Activate card](#operation/ActivateCardEvent)\n\n7.6. [Block card](#operation/BlockCardEvent)\n\n7.7. Close card\n\nEvent notification is triggered when a new card is closed. The status is applicable for all card types.\n- 7.7.1. [Closing](#operation/ClosingCardEvent)\n- 7.7.2. [Closed](#operation/ClosedCardEvent)\n\n7.8. [Expire card](#operation/ExpireCardEvent)\n\n7.9. [Renew card](#operation/RenewCardEvent)\n\n### 8. 3D Secure\n\n8.1. [Event notification is triggered when a new 3DS OTP request is received. By default, the message is sent to the cardholder via SMS, however when this event is enabled, the message will be forwarded to a server defined by the Client instead.](#operation/ThreeDSecureOTP)\n\n8.2. 3D secure authentication\n\n**Currently, this topic only implies Out of Band authentication. This is the initial version that can be modified in the future, therefore make sure to not add strict validation.**\n\n1. **Wallester** will send the [Initiate Action](#operation/InitiateAction) event to Client, providing information about cardholder and purchase.\n\n2. **Client** will send a notification to the cardholder’s device to wake the mobile application.\n\n3. Cardholder will authenticate within **Client** App (via out of band).\n\n4. **Wallester** will send the [Validate](#operation/ThreeDSValidate) event to the **Client** asking for the results (this recurs every 2 seconds after each Pending Status is received).\n\n5. **Client** will verify whether the cardholder has confirmed the purchase.\n\n**Wallester** expects to receive response from **Client** in less than 500 ms per each event.\n\n![3Ds Out of Band authentication](img/3ds-out-of-band-authentication.jpg)\n- 8.2.1. [Initiate action](#operation/InitiateAction)\n- 8.2.2. [Validate](#operation/ThreeDSValidate)\n\n### 9. KYC Check\n\n9.1. [KYC Check](#operation/KYCCheck)\n\n"
    }
  ],
  "paths": {
    "/v1/3d-secure-otp-event": {
      "post": {
        "servers": [
          {
            "url": "https://client.server:port",
            "description": "Client server"
          }
        ],
        "tags": [
          "Webhooks"
        ],
        "summary": "3D Secure OTP",
        "description": "Event notification is triggered when a new 3DS OTP request is received.\nBy default, the message is sent to the cardholder via SMS, however when this event is enabled,\nthe message will be forwarded to a server defined by the Client instead.",
        "operationId": "ThreeDSecureOTP",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThreeDSecureOTP"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ThreeDSecureOTP"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "threeDSecureOTPResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/threeDSecureOTPResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/account-adjustment-notification": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Account adjustment notification",
        "description": "Account adjustment notification",
        "operationId": "AccountAdjustmentNotification",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAdjustmentNotification"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AccountAdjustmentNotification"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "accountAdjustmentNotificationResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountAdjustmentNotificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/account-to-account-transfer-notification": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Account to Account transfer notification",
        "description": "Account to Account transfer notification",
        "operationId": "AccountToAccountTransferNotification",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountToAccountTransferNotification"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AccountToAccountTransferNotification"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "accountToAccountTransferNotificationResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountToAccountTransferNotificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/activate-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Activate card",
        "description": "Event notification is triggered when a new card is activated. The status is applicable for all card types.",
        "operationId": "ActivateCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ActivateCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "activateCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activateCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/apple-pay-incentive-notification-incomplete-provisioning-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Apple Pay incentive notification incomplete provisioning",
        "description": "Incomplete provisioning Apple Pay incentive notification is sent when a cardholder has commenced provisioning onto Apple Pay platform but has not completed provisioning within seven (7) days.",
        "operationId": "ApplePayIncentiveNotificationIncompleteProvisioning",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplePayIncentiveNotificationIncompleteProvisioning"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ApplePayIncentiveNotificationIncompleteProvisioning"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "applePayIncentiveNotificationIncompleteProvisioningResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/applePayIncentiveNotificationIncompleteProvisioningResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/apple-pay-incentive-notification-successful-transaction-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Apple Pay incentive notification successful transaction",
        "description": "Successful transaction Apple Pay incentive notification is sent when a cardholder has completed provisioning onto Apple Pay platform but has not made a successful payment with Apple Pay within fourteen (14) days.",
        "operationId": "ApplePayIncentiveNotificationSuccessfulTransaction",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplePayIncentiveNotificationSuccessfulTransaction"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ApplePayIncentiveNotificationSuccessfulTransaction"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "applePayIncentiveNotificationSuccessfulTransactionResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/applePayIncentiveNotificationSuccessfulTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/apple-pay-orange-flow-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Apple pay orange flow",
        "description": "Apple provides recommendations on authentication methods that users may encounter during provisioning. A notification will be sent if the user is only given the option to authenticate through the Call Center.",
        "operationId": "ApplePayOrangeFlow",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplePayOrangeFlow"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ApplePayOrangeFlow"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "applePayIncentiveNotificationSuccessfulTransactionResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/applePayIncentiveNotificationSuccessfulTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/authorization-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Authorization",
        "description": "Authorization",
        "operationId": "Authorization",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationView"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationView"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "authorizationResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/block-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Block card",
        "description": "Event notification is triggered when a card is blocked. The status is applicable for all card types.",
        "operationId": "BlockCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BlockCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "blockCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/blockCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/cancel-fee-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Cancel fee",
        "description": "Event notification is triggered when a fee is canceled. For example, the authorization has expired and related fee is canceled",
        "operationId": "CancelFee",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelFee"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CancelFee"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "cancelFeeResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cancelFeeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/closed-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Card closed",
        "description": "Event notification is triggered when a card closes. The status is applicable for all card types.",
        "operationId": "ClosedCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClosedCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ClosedCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "closedCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/closedCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/closing-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Card closing",
        "description": "If a card was closed but the clearing was not complete for all authorizations, the card will get a “Closing” status until clearing is done.",
        "operationId": "ClosingCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClosingCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ClosingCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "closingCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/closingCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/complete-fee-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Complete fee",
        "description": "Event notification is triggered when a new fee is created in Completed status or fee status has changed to Completed.\nFor example, the CardIssuanceFee is created in Completed status or fee status has changed to Completed after clearing.",
        "operationId": "CompleteFee",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteFee"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CompleteFee"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "completeFeeResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/completeFeeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/create-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create card",
        "description": "Event notification is triggered when a new card is created. This type of notification is best to use with cards extracts file described in the specification called \"Extract Files Overview\".\n\nThere are two options for notifications:\n\n1. Send notification only for cards which are created with send_notification flag set to true. API documentation: https://api-doc.wallester.com/#operation/CreateCard\n\n2. Send notifications for all cards created in the system. There is no need to send flag through the API in this case.",
        "operationId": "CreateCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "createCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/create-fee-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create fee",
        "description": "Event notification is triggered when a new fee is created, except one that is created in Completed status,\nand is not related to authorization.",
        "operationId": "CreateFee",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFee"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateFee"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "createFeeResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createFeeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/decision-request-authorization-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Decision request: Authorization",
        "description": "Decision request: Authorization",
        "operationId": "DecisionRequestAuthorization",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionRequestAuthorizationView"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DecisionRequestAuthorizationView"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "decisionRequestAuthorizationResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/decisionRequestAuthorizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/decision-request-balance-inquiry-authorization-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Decision request: Balance inquiry authorization",
        "description": "In case when an external balance system is implemented on the **Client** side, the given interface helps **Wallester** to provide to the Customer information on card balance requests, fulfill reversal operations and resolve partial payments.\n\nFor the authorizations which have type **ATMBalanceInquiry**, sending of balance information is mandatory in a response if the response code is set to **Approved**.\n\nWhere **balance**: cardholder’s balance, **available_amount** - cardholder’s available amount funds.\n\nIn case of **Wallester** declining Balance Inquiry authorization for any reason, the **Client** will receive an appropriate notification event with the information on the declined request.",
        "operationId": "DecisionRequestBalanceInquiryAuthorization",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionRequestBalanceInquiryAuthorizationView"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DecisionRequestBalanceInquiryAuthorizationView"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "decisionRequestBalanceInquiryAuthorizationResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/decisionRequestBalanceInquiryAuthorizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/dispatch-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Dispatch card",
        "description": "Event notification is triggered when a new card is dispatched from the personalization bureau. The status is applicable for ChipAndPin and ChipAndPinAnonymous card types only.",
        "operationId": "DispatchCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispatchCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DispatchCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "dispatchCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dispatchCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/expire-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Expire card",
        "description": "Event notification is triggered when a card gets expired. The status is applicable for all card types.",
        "operationId": "ExpireCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpireCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ExpireCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "expireCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/expireCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/initiate-action-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Initiate action",
        "description": "The **Initiate Action** event takes place once the method of 3DS authentication is identified.\n\nThe outcome of the event is the cardholder seeing the screen with instructions on how to complete their authentication by interacting with a 3rd party application.\n\nUse **request_id** as a unique identifier to identify the particular authentication request in the [Validate](#operation/Validate) event.\n\nExpected response HTTP status code is **200 OK**, otherwise unavailable authentication status returned to the merchant.",
        "operationId": "InitiateAction",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateAction"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/InitiateAction"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "initiateActionResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/initiateActionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/kyc-check-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "KYC Check",
        "description": "These events are available only on the Wallester White-Label program.\n\nPossible event types:\n\ncreate - Event notification is triggered when a new KYC Check is created.\n\ndelete - Event notification is triggered when a KYC Check is deleted.\n\nreject - Event notification is triggered when a KYC Check is rejected.\n\napprove - Event notification is triggered when a KYC Check is approved.",
        "operationId": "KYCCheck",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYCCheckEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/KYCCheckEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "kycCheckResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kycCheckResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/kyc-status-change-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "KYC status change",
        "description": "KYC status change",
        "operationId": "KYCStatusChange",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYCStatusChange"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/KYCStatusChange"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "kycStatusChangeResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/kycStatusChangeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/ordered-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Ordered card",
        "description": "Event notification is triggered when a new card is ordered. The status is applicable for ChipAndPin and ChipAndPinAnonymous card types only.",
        "operationId": "OrderedCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderedCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/OrderedCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "orderedCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orderedCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/partial-authorization-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Decision request: Partial authorization",
        "description": "Partial authorizations might be available for the various authorization types, depending on merchant type and its capabilities to support partial approvals. Nevertheless, a good sample of conditions where partial payments apply might be authorization with the type **AutomatedFuelDispenser**. Conditions when partial payments might be allowed or declined fully depending on Client’s regulations.\n\nFor example, in case when a cardholder has less money on account than requested via authorization, the Client might freeze the available amount and respond with the response code **ApprovedForPartialAmount**. In such cases an **approved_amount** is expected in response, where the **approved_amount** - amount of money that will be frozen on the cardholder's account.\n\nIn case when a cardholder has enough funds on account on **AutomatedFuelDispenser**, authorization response code is set to **Approved**, which means the full amount was available and frozen on account.\n\nIn case of **Wallester** declining authorization for any reason, the **Client** will receive an appropriate notification event with the information on the declined request.",
        "operationId": "DecisionRequestPartialAuthorization",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionRequestPartialAuthorizationView"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DecisionRequestPartialAuthorizationView"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "decisionRequestPartialAuthorizationResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/decisionRequestPartialAuthorizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/personalize-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Personalize card",
        "description": "Event notification is triggered when a new card is personalized. The status is applicable for ChipAndPin and ChipAndPinAnonymous card types only.",
        "operationId": "PersonalizeCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalizeCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PersonalizeCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "personalizeCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personalizeCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/release-authorization-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Release authorization",
        "description": "Authorization transfers funds from the available amount to the blocked amount, while the money remains in the account. Banks usually hold funds for 7-14 days. Funds are physically transferred at the time of the transaction. If the transaction did not occur on time, then the funds are returned from the blocked amount to the available amount. This is called \"release authorization\". \"Release authorization\" can occur for several reasons, for example, due to a technical error or due to the fault of the merchant who did not send the transaction on time.",
        "operationId": "ReleaseAuthorization",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseAuthorizationView"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseAuthorizationView"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "releaseAuthorizationResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/releaseAuthorizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/host:port/v1/renew-card-event": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Renew card",
        "description": "Event notification is triggered N days before the card expiration and identifies that the card may be renewed. The status is applicable for all card types.",
        "operationId": "RenewCardEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic auth, in \"Authorization: Basic BASE64_ENCODED_DATA\" format",
            "required": true,
            "schema": {
              "type": "string",
              "x-go-name": "Token"
            },
            "x-go-name": "Token"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "x-go-name": "ContentType"
            },
            "x-go-name": "ContentType"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique ID for the request. Generated by Wallester. Equal for Request and Response",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "x-go-name": "RequestID"
            },
            "x-go-name": "RequestID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenewCardEvent"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/RenewCardEvent"
              }
            }
          },
          "required": false,
          "x-go-name": "Request"
        },
        "responses": {
          "200": {
            "description": "renewCardEventResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/renewCardEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication has failed for this request.",
            "content": {
              "application/json": {
                "schema": {
[...]
